<app-wttr-mat-card [model]="model" data-test="wttr-mat-card">

    <!-- To be projected into our custom mat card -->

    <!-- NOTE: Search Form -->
    <mat-card-content *ngIf="model.result.length < 1">
        <form (ngSubmit)="submitSearch()" class="wttr-search">
            <mat-form-field [formGroup]="searchForm" class="wttr-search-form-field" hintLabel="Max 50 characters"
                            appearance="fill">
                <mat-label>city, state <b>or</b> zip code <b>or</b> airport code</mat-label>

                <input #searchInput
                       matInput
                       maxlength="50"
                       placeholder="Ex. LAX"
                       type="text"
                       formControlName="search"
                       class="wttr-search-input"
                       data-test="wttr-search-input">

                <button mat-mini-fab
                        matSuffix
                        class="wttr-search-button"
                        color="accent"
                        type="submit"
                        [disabled]="searchInput.disabled || searchInput?.value?.length == 0"
                        [attr.aria-label]="'Search for the weather'"
                        data-test="wttr-search-button">
                    <mat-icon>search</mat-icon>
                </button>

                <mat-error *ngIf="searchForm.invalid">{{ getErrorMessage('search') }}</mat-error>

            </mat-form-field>
        </form>
    </mat-card-content>

    <!-- NOTE: Search Results -->
    <mat-card-content *ngIf="model.result.length"
                      [innerHTML]="model.result">
    </mat-card-content>

</app-wttr-mat-card>
