:host {
  display: flex;
  justify-content: center;
}

.wttr-card {
  width: 45%;
}

.wttr-card-header {
  margin-bottom: 0.5em;
 }

.wttr-card-subtitle {
  margin-left: 0.5em;
  font-style: italic;
}

.wttr-search-form-field {
  width: 100%;
}

.wttr-search-button {
  margin-right: 0.5em;
}
