<!--<input [(ngModel)]="model.search"-->
<!--       data-test="wttr-search-input">-->

<!-- data-test="wttr-card" -->

<mat-card class="wttr-card" data-test="wttr-card">

  <mat-card-header class="wttr-card-header">

    <!--<div mat-card-avatar></div>-->
    <mat-card-title>{{ title }}</mat-card-title>

    <mat-card-subtitle class="wttr-card-subtitle">{{ subtitle }}</mat-card-subtitle>

  </mat-card-header>

  <!--<div mat-card-image></div>-->

  <mat-card-content>

    <form (ngSubmit)="submitSearch()" class="wttr-search">
      <mat-form-field [formGroup]="searchForm" class="wttr-search-form-field" hintLabel="Max 50 characters" appearance="fill">
        <mat-label>city, state <b>or</b> zip code <b>or</b> airport code</mat-label>

        <input #searchInput
               matInput
               maxlength="50"
               placeholder="Ex. LAX"
               type="text"
               formControlName="search"
               class="wttr-search-input"
               data-test="wttr-search-input">

        <button mat-mini-fab
                matSuffix
                class="wttr-search-button"
                color="accent"
                type="submit"
                [disabled]="searchInput.disabled || searchInput?.value?.length == 0"
                [attr.aria-label]="'Search for the weather'"
                data-test="wttr-search-button">
          <mat-icon>search</mat-icon>
        </button>

        <mat-error *ngIf="searchForm.invalid">{{ getErrorMessage('search') }}</mat-error>

      </mat-form-field>
    </form>

  </mat-card-content>

  <!--<mat-card-actions>
    <button mat-button>search</button>
  </mat-card-actions>-->

</mat-card>


