:host {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.wttr-card.search{
  width: 45%;
  margin: auto;
}

.wttr-card.results{
  width: 85%;
  margin: auto;
}

.wttr-card-header {
  margin-bottom: 0.5em;
 }

.wttr-card-subtitle {
  margin-left: 0.5em;
  font-style: italic;
}

.wttr-search-form-field {
  width: 100%;
}

.wttr-search-button {
  margin-right: 0.5em;
}
