
<mat-card class="dashboard-welcome-card"
          data-test="dashboard-welcome-card">
    <div class="dashboard-welcome-card-header" data-test="dashboard-welcome-card-header">
        <mat-card-title>Welcome to my development playground!</mat-card-title>
        <div class="spacer"></div>
        <mat-card-subtitle>Created by Julian Garcia</mat-card-subtitle>
    </div>

    <mat-card-content class="dashboard-welcome-card-content" data-test="dashboard-welcome-card-content">
        What would you like to try out?
        <div class="dashboard-preview-card-list">
            <mat-card *ngFor="let option of redirects; let index = index"
                      class="dashboard-preview-card"
                      data-test="dashboard-preview-card">
                <mat-card-header>
                    <mat-card-title>{{ option.title }}</mat-card-title>
                    <mat-card-subtitle>{{ option.subtitle }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

    </mat-card-content>
</mat-card>
