<app-content-card data-test="dashboard-welcome-card">

    <ng-container title>{{ title }}</ng-container>
    <ng-container subtitle> {{ subtitle }}</ng-container>

    <ng-container content>
        What would you like to try out?
        <div class="dashboard-preview-card-list">
            <app-feature-preview-card *ngFor="let option of previews; let index = index"
                                      [feature]="option"
                                      data-test="dashboard-preview-card"></app-feature-preview-card>
        </div>
    </ng-container>

</app-content-card>
