
<mat-card class="dashboard-welcome-card"
          data-test="dashboard-welcome-card">
    <div class="dashboard-welcome-card-header" data-test="dashboard-welcome-card-header">
        <mat-card-title>Welcome to my development playground!</mat-card-title>
        <div class="spacer"></div>
        <mat-card-subtitle>Created by Julian Garcia</mat-card-subtitle>
    </div>

    <mat-card-content class="dashboard-welcome-card-content" data-test="dashboard-welcome-card-content">
        What would you like to try out?
        <div class="dashboard-preview-card-list">
            <app-feature-preview-card *ngFor="let option of redirects; let index = index"
                                      [feature]="option"
                      data-test="dashboard-preview-card"></app-feature-preview-card>
        </div>

    </mat-card-content>
</mat-card>
