<mat-toolbar class="flex-row-w-columns"
             color="primary"
             data-test="toolbar">

  <!----------------------------Left----------------------------->
  <div class="column">
    <button mat-icon-button
            (click)="handleMenuClick()"
            matTooltip="Open navigation"
            aria-label="menu button to open the navigation menu"
            data-test="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon data-test="header-icon">{{ model.icon }}</mat-icon>
    &nbsp;
    <span data-test="title">
      {{ model.title }}
    </span>
  </div>
  <!------------------------Left End----------------------------->

  <!----------------------------Right---------------------------->
  <div class="column">
    <button mat-icon-button
            (click)="handleShareClick()"
            aria-label="share button to share the current url"
            data-test="share">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <!---------------------------Right End-------------------------->

</mat-toolbar>
