<app-state-card *ngIf="model" [model]="model" data-test="wttr-state-card">

    <!------------- SEARCH INPUT FORM ------------->
    <app-wttr-search-form searchForm (onSubmit)="submitSearch($event)" data-test="wttr-search-form"></app-wttr-search-form>

    <!------------- RESULTS CONTAINER ------------->
    <div results [innerHTML]="model.result" data-test="wttr-search-results"></div>

    <!------------- FORM RESET ------------->
    <ng-container actions>
        <button (click)="resetDisplay()" mat-raised-button color="accent" data-test="wttr-search-reset">
            Back to search
        </button>
    </ng-container>

</app-state-card>
