@import "src/styles";

.mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

::ng-deep .mat-drawer {
  box-shadow: 5px 0px 5px;
}

::ng-deep .mat-mdc-nav-list {
  padding-top: 0;
}

a ::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  justify-content: center;
}

a.active-nav-link ::ng-deep .mdc-list-item__content {
  border-bottom: solid 3px $some-deeppurple;
}

.mat-drawer-content.mat-sidenav-content {
  padding: 5px 5px 5px 10px;
}
