<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------Toolbar------------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<mat-toolbar class="flex-row-w-columns"
             color="primary"
             data-test="toolbar">

  <!----------------------------Left----------------------------->
  <div class="column">
    <button mat-icon-button
            (click)="toggleSideNav()"
            aria-label="menu button to open the navigation menu"
            data-test="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span data-test="title">{{ title }}</span>
  </div>

  <!----------------------------Right---------------------------->
  <div class="column">
    <button mat-icon-button
            aria-label="share button to share the current url"
            data-test="share">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------Navigation---------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav [(opened)]="sideNavOpened"
               [mode]="'side'"
               [position]="'start'"
               class="flex-columns-w-row"
               data-test="side-nav">
    <mat-nav-list role="list" aria-label="Navigation side bar">
      <a mat-list-item
         *ngFor="let route of navigationRoutes; let i = index;"
         [routerLink]="route.path"
         [activated]="route.path === currentNavigationRoute"
         routerLinkActive="active-nav-link"
         [id]="'side-nav-link-' + i"
         data-test="side-nav-link">{{ route.title }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-----------------------------Route Content------------------------------->
    <router-outlet></router-outlet>
    <!------------------------------------------------------------------------->
  </mat-sidenav-content>
</mat-sidenav-container>


