<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-------------------------Header Toolbar---------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<app-header [model]="header"
            [(isDarkMode)]="darkMode"
            (onClickMenu)="toggleSideNav()"
            data-test="header">
</app-header>

<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<!-----------------------------Navigation---------------------------------->
<!------------------------------------------------------------------------->
<!------------------------------------------------------------------------->
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav [(opened)]="sideNavOpened"
               [mode]="'side'"
               [position]="'start'"
               class="flex-columns-w-row"
               data-test="side-nav">
    <mat-nav-list role="list" aria-label="Navigation side bar">
      <a mat-list-item
         *ngFor="let route of navigationRoutes; let i = index;"
         [routerLink]="route.path"
         [activated]="route.path === currentNavigationRoute"
         routerLinkActive="active-nav-link"
         [id]="'side-nav-link-' + i"
         data-test="side-nav-link">{{ route.title }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-----------------------------Route Content------------------------------->
    <router-outlet></router-outlet>
    <!------------------------------------------------------------------------->
  </mat-sidenav-content>
</mat-sidenav-container>


