<mat-card class="content-card" data-test="content-card">

    <div class="content-card-header"
         [class.header-column]="!headerAsRow"
         data-test="header">

        <mat-card-title data-test="title">
            <!--------------------- projected title, or default if none provided ---------------------->
            <ng-content #title select="[title]"></ng-content>
            <ng-container *ngIf="title != undefined">No Title Provided</ng-container>

        </mat-card-title>

        <div *ngIf="headerAsRow" class="spacer" data-test="spacer"></div>

        <mat-card-subtitle data-test="subtitle">
            <!--------------------- projected subtitle, or default if none provided ---------------------->
            <ng-content #subtitle select="[subtitle]"></ng-content>
            <ng-container *ngIf="subtitle != undefined">No Subtitle Provided</ng-container>

        </mat-card-subtitle>

    </div>

    <mat-card-content class="content-card-content" data-test="content">
        <!--------------------- projected content, or default if none provided ---------------------->
        <ng-content #content></ng-content>
        <ng-container *ngIf="content != undefined">No Content Provided</ng-container>

    </mat-card-content>
</mat-card>
