
<!-- Note: All Wttr Displays share a common mat-card & mat-card-header -->
<!-- Note: MatContent projected depends on the model.state -->
<mat-card class="wttr-card"
          [class]="model.cardCssClass"
          data-test="wttr-card">

    <!----------------------------------------------------------------------->
    <!-- card header -->
    <!----------------------------------------------------------------------->
    <mat-card-header class="wttr-card-header">
        <mat-card-title>{{ model.cardTitle }}</mat-card-title>
        <mat-card-subtitle class="wttr-card-subtitle">{{ model.subtitle }}</mat-card-subtitle>
    </mat-card-header>

    <!----------------------------------------------------------------------->
    <!-- card content options (shown based on model.state) -->
    <!----------------------------------------------------------------------->

    <!-- form content-->
    <mat-card-content *ngIf="model.state == States.UNTOUCHED || model.state == States.VALID || model.state == States.INVALID"
                      data-test="wttr-card-form">
        <!-- Note: Projected content lands here :) -->
        <ng-content select="[searchForm]"></ng-content>
    </mat-card-content>

    <!-- loading content -->
    <mat-card-content *ngIf="model.state == States.SEARCHING || model.state == States.PARSING"
                      data-test="wttr-card-loading">
        fake loading content
    </mat-card-content>

    <!-- error content -->
    <mat-card-content *ngIf="model.state == States.PARSE_ERROR || model.state == States.RESPONSE_ERROR"
                      data-test="wttr-card-error">
        fake error content
    </mat-card-content>

    <!-- results content -->
    <mat-card-content *ngIf="model.state == States.DONE" data-test="wttr-card-results">
        <!-- Note: Projected content lands here :) -->
        <ng-content select="[results]"></ng-content>
    </mat-card-content>

</mat-card>
